@import "tailwindcss";

@font-face {
  font-family: "Sin";
  src: url("/fonts/sins.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cinzel";
  src: url("/fonts/Cinzel.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-sin {
  font-family: "Sin", sans-serif;
}

.font-cinzel {
  font-family: "Cinzel";
}
